.container
  .row-fluid
    .col-md-6
      = simple_form_for @session_form, url: { controller: 'sessions', action: :create }, method: :post, html: { class: 'form-horizontal' } do |f|
        = f.input :email, as: :string
        = f.input :password
        = f.button :submit, t('helpers.links.enter'), class: 'btn btn-success'
