@import "bootstrap";

.header_row{
	background: #333;
	height: 60px;
	margin-bottom:20px;
}
.class1 {
	background: black;
	border-color: white;
	height: 300px;
}
.class2 {
	background: white;
	border-color: black;
	height: 300px;
}
.container_my {
	border-style: double;
	margin-left: 50px;
	margin-right: 50px;
}
