<div id="company" class="about-wrapper">
	<h1 class="">
		НАША КОМПАНИЯ
	</h1>
	<div class="container">
		<article class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<%= image_tag('Gazprom.svg', alt: 'Газпром') %>
			<p>
				Высококвалифицированная команда и новейшие технологии позволяют нам создавать мебель в кратчайшие сроки.
			</p><p>
		</p>
		</article>
		<article class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<%= image_tag('Gazprom.svg', alt: 'Kinder') %>
			<p>
				Инновационный дизайн мебели Фабрики «Добрый стиль» удостоен дипломов Всероссийских и международных выставок и конкурсов.
			</p><p>
			</p>
		</article>
		<article class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<%= image_tag('Gazprom.svg', alt: 'Nutella') %>
			<p>
				Высококвалифицированная команда и новейшие технологии позволяют нам создавать мебель в кратчайшие сроки.
			</p><p>
			</p>
		</article>
		<article class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<%= image_tag('Gazprom.svg', alt: 'Sony') %>
			<p>
				Инновационный дизайн мебели Фабрики «Добрый стиль» удостоен дипломов Всероссийских и международных выставок и конкурсов.
			</p><p>
			</p>
		</article>
	</div>
</div>
