<div class="container-fluid">
	<div class="row header">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 "> 
			<%= image_tag('logo_min(1).png', alt: 'Logo') %>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 "> 
			<p class="lid"> 
				МЫ СДЕЛАЕМ ВАМ КРАСИВО 
			</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
			<p class="phones"> 
				75 71 78 <br>
				8 (927) 631 57 87 
			</p> 
		</div>
	</div>       
</div>   