<div class="container-fluid">
	<div class="row quote"> 
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-responsive photo">
			<%= image_tag('Andrew.jpg', alt: 'Andrew Agapov') %>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ter">
			<div class="blockquote">
				<p>ТЕОРИЯ — ЭТО КОГДА ВЫ ЗНАЕТЕ ВСЁ, НО НИЧЕГО НЕ РАБОТАЕТ. ПРАКТИКА - ЭТО КОГДА ВСЕ РАБОТАЕТ, НО НИКТО НЕ ЗНАЕТ ПОЧЕМУ. МЫ СОВМЕЩАЕМ ТЕОРИЮ И ПРАКТИКУ - НИЧЕГО НЕ РАБОТАЕТ И НИКТО НЕ ЗНАЕТ ПОЧЕМУ.
				</p>
				<cite>— Андрей Агапов</cite>
			</div>
		</div>
	</div>
</div>