<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 class1"> 
			<p span class="Web">
				<%= link_to "WEB", '#', class:  "Web"%> 
			</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 class2"> 
			<p span class="Digital"> 
				<%= link_to "DIGITAL", '#', class: "Digital"%>
			</p>
		</div>
	</div>
</div>          